* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  background-color: #474747;
  color: #a0a0a0;
}
.container {
  width: 900px;
  margin: 50px auto;
  .title-container {
    display: flex;
    .title {
      font-size: 37px;
      background-color: #fae844;
      width: 300px;
      padding: 20px 30px;
      color: #000;
      font-weight: 700;
    }
    .title-side-box {
      width: 40px;
      background-color: #000;
    }
  }
  .sub-title {
    margin: 20px 0;
  }
  .add-book-btn {
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #515151;
    color: #c3c3c3;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  .table-head {
    font-weight: 600;
  }
  tr {
    border-bottom: 1px solid #5e5e5e;
    height: 40px;
  }
}

.table-btn {
  cursor: pointer;
  display: inline;
  border: 0;
  padding: 5px 8px;
}

.display-none {
  display: none;
}

.container-2 {
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 1;
  }
  #myForm {
    display: flex;
    flex-direction: column;
    background-color: #3a3a3a;
    width: 500px;
    height: 370px;
    padding-top: 30px;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      text-align: center;
    }
    .input-form {
      width: 300px;
      height: 40px;
      margin: 15px auto;
    }
    .inline {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    button {
      width: 100px;
      margin: 20px auto;
      padding: 9px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #585858;
      color: #757575;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
    }
    button:hover {
      background-color: #e5e5e5;
    }
  }
}
